html, body {
    height: 100%;
    margin: 0;
}

h1 {
    font-size: 15pt;
    font-weight: normal;
    height: 30px;
}

h2 {
    font-size: 13pt;
    font-weight: normal;
}

.search::placeholder {
    color: #ffffff;
    font-family: Roboto;
    font-weight: bold;
}

.tabHeader {
    padding: 0px;
    width: 25%;
}

.tabs {
    height: 100px;
    width: 100%;
    border-collapse: collapse;
    color: #000000;
    padding: 0px;
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    z-index: 100;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #142636;
    z-index: 100;
}

    .header > .logo {
        flex-basis: 0;
        min-width: 230px;
        line-height: 100px;
        height: 100px;
        width: 230px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

.headerNavBar {
    flex: 1;
}

.fillerBox {
    flex: 1;
}

.fillerBoxMin {
    min-width: 10px;
}

.headerButton {
    color: #D8D8D8;
    min-width: 100px;
    width: 100px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    flex: 0;
}

.searchButton {
    flex: 0;
    min-width: 150px;
    width: 150px;
    height: 34px;
    border-radius: 0px 10px 10px 0px;
    border: 0px;
    background: #4A74A5;
}

.searchBar {
    flex: 1;
    color: #ffffff;
    font-family: Roboto;
    height: 34px;
    border-radius: 10px 0px 0px 10px;
    border: 0px;
    background: #787878;
    padding-left: 20px;
}

    .searchBar:focus {
        outline: none;
    }

.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mapSection {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.mapContainer {
    min-height: 100px;
    min-width: 100px;
    flex: 1;
}

.newAndTrending {
    display: flex;
    flex-direction: column;
}

.largeContentBox {
    flex: 0;
    height: 340px;
    width: 566px;
    min-width: 566px;
}

.announcementsContainer {
    display: flex;
    flex-direction: column;
}

.announcement {
    height: 150px;
    min-width: 620px;
    padding: 0px 5px;
    background-color: #0f0f0f;
}
