/* Basics*/
html, body {
    height: 100%;
    margin: 0;
}

h1 {
    font-size: 15pt;
    font-weight: normal;
    height: 30px;
}

h2 {
    font-size: 13pt;
    font-weight: normal;
}

.fillerBox {
    flex: 1;
}

.fillerBoxMinW {
    min-width: 10px;
}

.fillerBoxMinH {
    min-height: 10px;
}

a:link {
    color: #3FB39A;
    text-decoration: underline;
}

a:visited {
    color: #9013FE;
    text-decoration: underline;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

a:active {
    color: #4A74A5;
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 10px;
}

    ::-webkit-scrollbar:vertical {
        height: 100%;
    }

::-webkit-scrollbar-track {
    background: #EEEEEE;
    border-radius: 5px;
}

    ::-webkit-scrollbar-track:vertical {
        height: calc(auto - 20px);
    }

::-webkit-scrollbar-thumb {
    background: #787878;
    border-radius: 5px;
}

.checkBox {
    flex: 0;
    min-width: 40px;
    height: 40px;
}

.checkBoxLabel {
    flex: 1 1 auto;
    line-height: 46px;
    padding-left: 10px;
}

.whiteText {
    color: #ffffff;
}

/*Header*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #142636;
    z-index: 150;
    align-self: flex-start;
}

    .header > .logo {
        flex-basis: 0;
        min-width: 230px;
        line-height: 100px;
        height: 100px;
        width: 230px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

.headerNavBar {
    flex: 1;
}

.headerButton {
    color: #D8D8D8;
    min-width: 100px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    flex: 0 0 auto;
}

.searchButton {
    flex: 0;
    min-width: 150px;
    width: 150px;
    height: 34px;
    border-radius: 0px 10px 10px 0px;
    border: 0px;
    background: #4A74A5;
}

.searchBar {
    flex: 1;
    color: #ffffff;
    font-family: Roboto;
    height: 34px;
    border-radius: 10px 0px 0px 10px;
    border: 0px;
    background: #787878;
    padding-left: 20px;
}

    .searchBar:focus {
        outline: none;
    }

    .searchBar::placeholder {
        color: #ffffff;
        font-family: Roboto;
        font-weight: bold;
    }

/*Modal*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 0;
    z-index: 1000;
    overflow-y: scroll;
}

.fade {
    transition: opacity 0.01s linear;
}

    .fade:not(.show) {
        opacity: 0;
    }

.modal-backdrop.show {
    opacity: 1;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 990;
    width: 100vw;
    height: 100vh;
    background-color: rgba(238, 238, 238, 0.3);
    backdrop-filter: blur(5px);
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #142636;
}

.modal-dialog {
    max-width: 650px;
    margin: 1.75rem auto;
}

.modal-header {
    padding: 16px;
}

.modal-title {
    margin: 0px;
    font-size: 12pt;
}

.modal-body {
    padding: 5px 16px;
}

    .modal-body input {
        width: 100%;
        height: 40px;
        background-color: #142636;
        border: 1px #ffffff solid;
        border-radius: 2px;
        box-sizing: border-box;
    }

.modalButton {
    color: #ffffff;
    background-color: #4A74A5;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
}

.modal-footer {
    padding: 16px;
}

.modalCenteredLink {
    width: 100%;
    padding-top: 10px;
    text-align: center;
}

.horizontalLineText {
    width: 100%;
}

    .horizontalLineText > p {
        display: flex;
        font-size: 10pt;
    }

        .horizontalLineText > p:before, .horizontalLineText > p:after {
            content: '';
            flex: 1 1;
            border-bottom: 1px solid #ffffff;
            margin: auto;
        }

        .horizontalLineText > p:before {
            margin-right: 10px;
        }

        .horizontalLineText > p:after {
            margin-left: 10px;
        }

/*Social*/
.socialButton {
    flex: 2 1 auto;
    height: 45px;
    min-width: 180px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-weight: bold;
}

.google {
    background-color: #ffffff;
    color: #000000;
}

.facebook {
    background-color: #4267B2;
    color: #ffffff;
}

.twitter {
    background-color: #1DA1F2;
    color: #ffffff;
}

/*Forms*/
.inputLabel {
    margin: 0;
}

/*HOME PAGE*/
/*Tabs*/
.tabHeader {
    padding: 0px;
    width: 25%;
}

.tabs {
    height: 100px;
    max-height: 100px;
    transition: max-height 0.2s linear;
    width: 100%;
    border-collapse: collapse;
    color: #000000;
    padding: 0px;
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 100;
}

.rootPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
}

.home {
    overflow-y: scroll;
}

.contentSection {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.contentBackground {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    /*height: 10000px;*/
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.smallContentBox {
    flex: 1 1 auto;
    width: 460px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #142636;
}

.smallContentBoxBar {
    background-color: #142636;
    height: 50px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

    .smallContentBoxBar > .titleAndType {
        flex: 1 1 auto;
    }

    .smallContentBoxBar > .year {
        flex: 0 0 100px;
        text-align: right;
    }

    .smallContentBoxBar > .icon {
        flex: 0 0 50px;
        margin-right: 5px;
    }

    .smallContentBoxBar > .collections_in_collection_icon {
        flex: 0 0 50px;
        margin-right: 5px;
    }

    .smallContentBoxBar > div > h1 {
        margin: 0px;
    }

    .smallContentBoxBar > div > h2 {
        margin: 0px;
    }

.contentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttonBar {
    width: 100%;
    height: 50px;
}

    .buttonBar > Button {
        border: 3px solid #000000;
        color: #000000;
        background: border-box #ffffff;
        width: 100px;
        height: 40px;
        border-radius: 2px;
    }

    .buttonBar > .gapRight {
        margin-right: 20px;
    }

.newAndTrending {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.newAndTrendingContainer {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

    .newAndTrendingContainer:first-child {
        margin-left: 0px;
    }

    .newAndTrendingContainer:last-child {
        margin-right: 0px;
    }

.largeContentBox {
    flex: 1 1 auto;
    height: 340px;
    width: 566px;
    min-width: 566px;
    margin: 0px 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000
}

.largeContentBoxBar {
    display: flex;
    height: 50px;
    padding: 5px;
}

    .largeContentBoxBar > .titleAndType > h1 {
        margin: 0px;
    }

    .largeContentBoxBar > .titleAndType > h2 {
        margin: 0px;
    }

    .largeContentBoxBar > .icon {
        flex: 0 0 50px;
        padding-right: 5px;
    }

    .largeContentBoxBar > .collections_in_collection_icon {
        flex: 0 0 50px;
        padding-right: 5px;
    }

    .largeContentBoxBar > .itemsAndCollectionsCount {
        flex: 0 0 150px;
        border-right: 1px solid #000000;
    }

    .largeContentBoxBar > .itemsAndCollectionsCount > h1 {
        margin: 0px;
        font-size: 12pt;
        height: 20px;
    }

.announcementsContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    box-sizing: border-box;
}

.announcement {
    height: 150px;
    min-width: 620px;
    padding: 0px 5px;
    background-color: #0f0f0f;
}

/*MAP PAGE*/
.mapSection {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.mapSideBar {
    flex: 0 0 auto;
    max-width: 610px;
    max-height: calc(100vh - 100px);
}

.mapContainer {
    min-height: 100px;
    min-width: 100px;
    flex: 1 0 auto;
}

.goToLocLabels {
    background-color: #4A74A5;
    min-width: 70px;
    flex: 0;
    text-align: center;
    font-size: 14pt;
    line-height: 50px;
}

.goToLocSearch {
    background-color: #ffffff;
    flex: 1 0 auto;
    min-width: 100px;
    border: 0px;
}

    .goToLocSearch:focus {
        outline: none;
        background-color: #D8D8D8;
    }

.goToLocButton {
    background-color: #3FB39A;
    flex: 0;
    width: 100px;
    min-width: 100px;
    padding: 0px;
    border: 0px;
}

.mapLocationInfo {
    display: flex;
    border-bottom: 1px solid;
    border-bottom-color: #FFFFFF;
    margin-top: 10px;
    max-width: 590px;
}

    .mapLocationInfo:hover {
        background-color: #4A74A5;
    }

    .mapLocationInfo > img {
        height: 100px;
        width: 100px;
        flex: 0 0 100px;
    }

.listTitle {
    font-size: 15pt;
    font-weight: normal;
    margin: 5px 5px 0px 5px;
    max-width: 480px;
}

.listDesc {
    margin: 5px;
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    max-width: 480px;
}

.scrollableList {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: calc(100vh - 150px);
}

/*My Items/Collections/Announcements*/

.ICAcontainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: calc();
}

.altSearchContainer {
    display: flex;
    flex: 1 1 auto;
    height: 60px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing:border-box;
}

.altSearchBar {
    background-color: #ffffff;
    height: inherit;
    flex: 1 1 auto;
    border: 0px;
    padding-left: 10px;
    font-weight: normal;
    font-size: 12pt;
}

    .altSearchBar::placeholder {
        color: #787878;
        font-weight: bold;
        font-size: 12pt;
    }

.altSearchButton {
    background-color: #3FB39A;
    border: 0px solid #000000;
    border-radius: 0px 5px 5px 0px;
    height: inherit;
    flex: 0 0 150px;
    font-weight: bold;
    font-size: 12pt;
    color: #000000;
}

.searchDropdown {
    background-color: #3FB39A;
    height: inherit;
    flex: 0 0 150px;
    border-radius: 5px 0px 0px 5px;
}

.buttonSmall {
    background-color: #3FB39A;
    color: #000000;
    flex: 0 0 100px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
}

.listSection {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 10px 0px;
}

.footerMenu {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    margin: 10px 0px;
    box-sizing: border-box;
}

.listItemContainer {
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    height: 50px;
}

.listItemContainer > div {
    padding: 10px;
    border: 1px solid #ffffff;
    border-collapse: collapse;
    line-height: 25px;
}

.listFixedWidth {
    flex: 0 0 100px;
}

.listVariableWidth {
    flex: 1 1 0px;
}